.list-group
  = link_to 'Categories', organization_categories_url(current_organization), class: ['list-group-item', ('active' if params[:controller] == 'categories')]
  = link_to 'Scopes', organization_scopes_url(current_organization), class: ['list-group-item', ('active' if params[:controller] == 'scopes')]
