p#notice = notice

p
  strong Organization:
  = @category.organization


= link_to 'Edit', edit_organization_category_url(@organization, @category)
'|
= link_to 'Back', organization_categories_url(@organization)
